h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.site-button-ghost-wrapper {
  padding: 16px;
  background: rgb(190, 200, 200);
}

.docblock-code-toggle.docblock-code-toggle--disabled{
  display: none !important;
}
